<?xml version="1.0" encoding="utf-8"?>
<robot name="quad_mini_description">


  <link name="base">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <box size="0.001 0.001 0.001"/>
      </geometry>
    </visual>
  </link>

  <joint name="floating_base" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="base"/>
    <child link="trunk"/>
  </joint>

  <link name="trunk">
    <inertial>
      <origin xyz="-0.0069912 0.01165 -0.0071119" rpy="0 0 0"/>
      <mass value="6"/>
      <inertia ixx="0.0014012" ixy="-4.9221E-07" ixz="-1.3659E-06" iyy="0.0066079" iyz="2.9217E-06" izz="0.0070508"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://quad_mini_description/meshes/base_link.obj"/>
      </geometry>
      <material name="">
        <color rgba="0.8 0.8 0.8 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://quad_mini_description/meshes/base_link.obj"/>
      </geometry>
    </collision>
  </link>

  <!-- LEFT FRONT LEG -->
  <link name="FL_HIP">
    <inertial>
      <origin xyz="0.029756 -0.012399 -0.00028138" rpy="0 0 0"/>
      <mass value="0.39"/>
      <inertia ixx="2.4616E-05" ixy="8.0494E-07" ixz="-2.0469E-07" iyy="2.4611E-05" iyz="1.6554E-07" izz="2.5415E-05"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://quad_mini_description/meshes/FL_HipX.obj"/>
      </geometry>
      <material name="">
        <color rgba="0.59608 0.66667 0.68627 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://quad_mini_description/meshes/FL_HipX.obj"/>
      </geometry>
    </collision>
  </link>

  <joint name="FL_HipX" type="revolute">
    <origin xyz="-0.14915 -0.016123 0.009137" rpy="0 0 0"/>
    <parent link="trunk"/>
    <child link="FL_HIP"/>
    <axis xyz="1 0 0"/>
    <limit lower="-0.436332" upper="0.436332" effort="12" velocity="11.52"/>
    <dynamics damping="0.1" friction="0.0"/>
  </joint>

  <link name="FL_THIGH">
    <inertial>
      <origin xyz="0.020389 -0.063137 -0.012393" rpy="0 0 0"/>
      <mass value="0.91"/>
      <inertia ixx="4.7766E-05" ixy="7.5543E-07" ixz="1.9208E-05" iyy="8.801E-05" iyz="-1.6086E-08" izz="7.0548E-05"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://quad_mini_description/meshes/FL_HipY.obj"/>
      </geometry>
      <material name="">
        <color rgba="0.59608 0.66667 0.68627 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://quad_mini_description/meshes/FL_HipY.obj"/>
      </geometry>
    </collision>
  </link>

  <joint name="FL_HipY" type="revolute">
    <origin xyz="0.032575 -0.033 0" rpy="0 0 0"/>
    <parent link="FL_HIP"/>
    <child link="FL_THIGH"/>
    <axis xyz="0 -1 0"/>
    <limit lower="-1.380997" upper="3.054326" effort="12" velocity="17.80"/>
    <dynamics damping="0.1" friction="0.0"/>
  </joint>

  <link name="FL_SHANK">
    <inertial>
      <origin xyz="-0.061825 0.0060176 0.00065356" rpy="0 0 0"/>
      <mass value="0.3"/>
      <inertia ixx="4.833E-06" ixy="-9.4065E-09" ixz="5.7428E-07" iyy="1.731E-05" iyz="1.0124E-09" izz="1.6749E-05"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://quad_mini_description/meshes/FL_Knee.obj"/>
      </geometry>
      <material name="orange">
        <color rgba="0.82 0.42 0.21 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://quad_mini_description/meshes/FL_Knee.obj"/>
      </geometry>
    </collision>
  </link>

  <joint name="FL_Knee" type="revolute">
    <origin xyz="0.10303 -0.08105 -0.061521" rpy="0 0 0"/>
    <parent link="FL_THIGH"/>
    <child link="FL_SHANK"/>
    <axis xyz="0 -1 0"/>
    <limit lower="-0.043633" upper="1.745529" effort="12" velocity="17.80"/>
    <dynamics damping="0.1" friction="0.0"/>
  </joint>

  <link name="FL_FOOT">
    <inertial>
      <mass value="0.01"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.02"/>
      </geometry>
      <material name="black">
        <color rgba="0 0 0 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.02"/>
      </geometry>
    </collision>
  </link>

  <joint name="left_front_foot_joint" type="fixed">
    <origin xyz="-0.135 0.005 0.0" rpy="0 0 0"/>
    <parent link="FL_SHANK"/>
    <child link="FL_FOOT"/>
  </joint>

  <!-- RIGHT FRONT LEG -->
  <link name="FR_HIP">
    <inertial>
      <origin xyz="0.030756 0.012399 0.00028138" rpy="0 0 0"/>
      <mass value="0.39"/>
      <inertia ixx="2.4616E-05" ixy="-8.0494E-07" ixz="2.0469E-07" iyy="2.4611E-05" iyz="1.6554E-07" izz="2.5415E-05"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://quad_mini_description/meshes/FR_HipX.obj"/>
      </geometry>
      <material name="">
        <color rgba="0.59608 0.66667 0.68627 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://quad_mini_description/meshes/FR_HipX.obj"/>
      </geometry>
    </collision>
  </link>

  <joint name="FR_HipX" type="revolute">
    <origin xyz="-0.15015 0.043877 0.009137" rpy="0 0 0"/>
    <parent link="trunk"/>
    <child link="FR_HIP"/>
    <axis xyz="1 0 0"/>
    <limit lower="-0.436332" upper="0.436332" effort="12" velocity="11.52"/>
    <dynamics damping="0.1" friction="0.0"/>
  </joint>

  <link name="FR_THIGH">
    <inertial>
      <origin xyz="0.02034 0.063264 -0.012468" rpy="0 0 0"/>
      <mass value="0.91"/>
      <inertia ixx="4.7874E-05" ixy="-7.5529E-07" ixz="1.9319E-05" iyy="8.801E-05" iyz="-2.9232E-08" izz="7.0444E-05"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://quad_mini_description/meshes/FR_HipY.obj"/>
      </geometry>
      <material name="">
        <color rgba="0.69412 0.69412 0.69412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://quad_mini_description/meshes/FR_HipY.obj"/>
      </geometry>
    </collision>
  </link>

  <joint name="FR_HipY" type="revolute">
    <origin xyz="0.033575 0.0327 0" rpy="0 0 0"/>
    <parent link="FR_HIP"/>
    <child link="FR_THIGH"/>
    <axis xyz="0 1 0"/>
    <limit lower="-1.308997" upper="3.054326" effort="12" velocity="17.80"/>
    <dynamics damping="0.1" friction="0.0"/>
  </joint>

  <link name="FR_SHANK">
    <inertial>
      <origin xyz="-0.061862 0.0060176 0.00032264" rpy="0 0 0"/>
      <mass value="0.3"/>
      <inertia ixx="4.8323E-06" ixy="-9.407E-09" ixz="5.6754E-07" iyy="1.731E-05" iyz="1.0071E-09" izz="1.675E-05"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://quad_mini_description/meshes/FR_Knee.obj"/>
      </geometry>
      <material name="orange">
        <color rgba="0.82 0.42 0.21 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://quad_mini_description/meshes/FR_Knee.obj"/>
      </geometry>
    </collision>
  </link>

  <joint name="FR_Knee" type="revolute">
    <origin xyz="0.10286 0.06915 -0.061805" rpy="0 0 0"/>
    <parent link="FR_THIGH"/>
    <child link="FR_SHANK"/>
    <axis xyz="0 -1 0"/>
    <limit lower="-0.043633" upper="1.745529" effort="12" velocity="17.80"/>
    <dynamics damping="0.1" friction="0.0"/>
  </joint>

  <link name="FR_FOOT">
    <inertial>
      <mass value="0.01"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.02"/>
      </geometry>
      <material name="black">
        <color rgba="0 0 0 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.02"/>
      </geometry>
    </collision>
  </link>

  <joint name="right_front_foot_joint" type="fixed">
    <origin xyz="-0.135 0.005 0.0" rpy="0 0 0"/>
    <parent link="FR_SHANK"/>
    <child link="FR_FOOT"/>
  </joint>


  <!-- LEFT HIND LEG -->
  <link name="HL_HIP">
    <inertial>
      <origin xyz="-0.030191 -0.012399 0.00026161" rpy="0 0 0"/>
      <mass value="0.39"/>
      <inertia ixx="2.4675E-05" ixy="-1.1206E-06" ixz="2.1657E-07" iyy="2.4611E-05" iyz="-1.4049E-07" izz="2.5355E-05"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://quad_mini_description/meshes/HL_HipX.obj"/>
      </geometry>
      <material name="">
        <color rgba="0.59608 0.66667 0.68627 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://quad_mini_description/meshes/HL_HipX.obj"/>
      </geometry>
    </collision>
  </link>

  <joint name="HL_HipX" type="revolute">
    <origin xyz="0.14785 -0.016123 0.009137" rpy="0 0 0"/>
    <parent link="trunk"/>
    <child link="HL_HIP"/>
    <axis xyz="-1 0 0"/>
    <limit lower="-0.436332" upper="0.436332" effort="12" velocity="11.52"/>
    <dynamics damping="0.1" friction="0.0"/>
  </joint>

  <link name="HL_THIGH">
    <inertial>
      <origin xyz="0.015132 -0.055995 -0.0090343" rpy="0 0 0"/>
      <mass value="0.91"/>
      <inertia ixx="4.7384E-05" ixy="5.1447E-07" ixz="1.9268E-05" iyy="8.9933E-05" iyz="-2.1784E-07" izz="7.1001E-05"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://quad_mini_description/meshes/HL_HipY.obj"/>
      </geometry>
      <material name="">
        <color rgba="0.59608 0.66667 0.68627 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://quad_mini_description/meshes/HL_HipY.obj"/>
      </geometry>
    </collision>
  </link>

  <joint name="HL_HipY" type="revolute">
    <origin xyz="-0.033575 -0.0329 0" rpy="0 0 0"/>
    <parent link="HL_HIP"/>
    <child link="HL_THIGH"/>
    <axis xyz="0 -1 0"/>
    <limit lower="-1.3008997" upper="3.054326" effort="12" velocity="17.80"/>
    <dynamics damping="0.1" friction="0.0"/>
  </joint>

  <link name="HL_SHANK">
    <inertial>
      <origin xyz="-0.061825 0.0060176 0.00065357" rpy="0 0 0"/>
      <mass value="0.3"/>
      <inertia ixx="4.833E-06" ixy="-9.4071E-09" ixz="5.7428E-07" iyy="1.731E-05" iyz="1.013E-09" izz="1.6749E-05"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://quad_mini_description/meshes/HL_Knee.obj"/>
      </geometry>
      <material name="orange">
        <color rgba="0.82 0.42 0.21 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://quad_mini_description/meshes/HL_Knee.obj"/>
      </geometry>
    </collision>
  </link>

  <joint name="HL_Knee" type="revolute">
    <origin xyz="0.10303 -0.08115 -0.061521" rpy="0 0 0"/>
    <parent link="HL_THIGH"/>
    <child link="HL_SHANK"/>
    <axis xyz="0 -1 0"/>
    <limit lower="-0.043633" upper="1.745529" effort="12" velocity="17.80"/>
    <dynamics damping="0.1" friction="0.0"/>
  </joint>

  <link name="HL_FOOT">
    <inertial>
      <mass value="0.01"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.02"/>
      </geometry>
      <material name="black">
        <color rgba="0 0 0 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.02"/>
      </geometry>
    </collision>
  </link>

  <joint name="left_hind_foot_joint" type="fixed">
    <origin xyz="-0.135 0.005 0.0" rpy="0 0 0"/>
    <parent link="HL_SHANK"/>
    <child link="HL_FOOT"/>
  </joint>

  <!-- RIGHT HIND LEG -->
  <link name="HR_HIP">
    <inertial>
      <origin xyz="-0.029191 0.012399 -0.00026161" rpy="0 0 0"/>
      <mass value="0.39"/>
      <inertia ixx="2.4675E-05" ixy="1.1206E-06" ixz="-2.1657E-07" iyy="2.4611E-05" iyz="-1.4048E-07" izz="2.5355E-05"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://quad_mini_description/meshes/HR_HipX.obj"/>
      </geometry>
      <material name="">
        <color rgba="0.59608 0.66667 0.68627 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://quad_mini_description/meshes/HR_HipX.obj"/>
      </geometry>
    </collision>
  </link>

  <joint name="HR_HipX" type="revolute">
    <origin xyz="0.14685 0.043877 0.009137" rpy="0 0 0"/>
    <parent link="trunk"/>
    <child link="HR_HIP"/>
    <axis xyz="-1 0 0"/>
    <limit lower="-0.436332" upper="0.436332" effort="12" velocity="11.52"/>
    <dynamics damping="0.1" friction="0.0"/>
  </joint>

  <link name="HR_THIGH">
    <inertial>
      <origin xyz="0.018536 0.057734 -0.01138" rpy="0 0 0"/>
      <mass value="0.91"/>
      <inertia ixx="4.9793E-05" ixy="-5.1435E-07" ixz="1.926E-05" iyy="9.2288E-05" iyz="-2.31E-07" izz="7.3197E-05"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://quad_mini_description/meshes/HR_HipY.obj"/>
      </geometry>
      <material name="">
        <color rgba="0.59608 0.66667 0.68627 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://quad_mini_description/meshes/HR_HipY.obj"/>
      </geometry>
    </collision>
  </link>

  <joint name="HR_HipY" type="revolute">
    <origin xyz="-0.032575 0.0329 0" rpy="0 0 0"/>
    <parent link="HR_HIP"/>
    <child link="HR_THIGH"/>
    <axis xyz="0 1 0"/>
    <limit lower="-1.308997" upper="3.054326" effort="12" velocity="17.80"/>
    <dynamics damping="0.1" friction="0.0"/>
  </joint>

  <link name="HR_SHANK">
    <inertial>
      <origin xyz="-0.063045 0.006022 0.0003456" rpy="0 0 0"/>
      <mass value="0.3"/>
      <inertia ixx="4.8024E-06" ixy="-9.407E-09" ixz="5.6754E-07" iyy="1.7308E-05" iyz="1.007E-09" izz="1.672E-05"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://quad_mini_description/meshes/HR_Knee.obj"/>
      </geometry>
      <material name="orange">
        <color rgba="0.82 0.42 0.21 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://quad_mini_description/meshes/HR_Knee.obj"/>
      </geometry>
    </collision>
  </link>

  <joint name="HR_Knee" type="revolute">
    <origin xyz="0.10286 0.06895 -0.061805" rpy="0 0 0"/>
    <parent link="HR_THIGH"/>
    <child link="HR_SHANK"/>
    <axis xyz="0 -1 0"/>
    <limit lower="-0.043633" upper="1.745529" effort="12" velocity="17.80"/>
    <dynamics damping="0.1" friction="0.0"/>
  </joint>

  <link name="HR_FOOT">
    <inertial>
      <mass value="0.01"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.02"/>
      </geometry>
      <material name="black">
        <color rgba="0 0 0 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.02"/>
      </geometry>
    </collision>
  </link>

  <joint name="right_hind_foot_joint" type="fixed">
    <origin xyz="-0.135 0.005 0.0" rpy="0 0 0"/>
    <parent link="HR_SHANK"/>
    <child link="HR_FOOT"/>
  </joint>
 
  
  <!-- SENSORS -->
  <link name="Helios_Lidar">
    <inertial>
      <origin xyz="6.235E-06 0.0001449 0.030041" rpy="0 0 0"/>
      <mass value="1"/>
      <inertia ixx="0.00041229" ixy="-1.3204E-09" ixz="3.8132E-08" iyy="0.0004136" iyz="7.5761E-07" izz="0.00033721"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://quad_mini_description/meshes/Helios_Lidar.obj"/>
      </geometry>
      <material name="blue">
        <color rgba="0.2 0.6 1 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://quad_mini_description/meshes/Helios_Lidar.obj"/>
      </geometry>
    </collision>
  </link>

  <joint name="Helios_Lidar_Joint" type="fixed">
    <origin xyz="0.12382 0.013871 0.068174" rpy="0 0 0"/>
    <parent link="trunk"/>
    <child link="Helios_Lidar"/>
  </joint>

  <link name="AC_Camera">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.4"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://quad_mini_description/meshes/AC_Camera.obj"/>
      </geometry>
      <material name="black">
        <color rgba="0 0 0 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://quad_mini_description/meshes/AC_Camera.obj"/>
      </geometry>
    </collision>
  </link>

  <joint name="AC_Camera_Joint" type="fixed">
    <origin xyz="-0.22565 0.013877 0.011834" rpy="0 0 0"/>
    <parent link="trunk"/>
    <child link="AC_Camera"/>
  </joint>

  <!-- IMU SENSOR -->
  <joint name="imu_joint" type="fixed">
    <parent link="trunk"/>
    <child link="imu_link"/>
    <origin rpy="0 0 0" xyz="0 0 0"/>
  </joint>

  <link name="imu_link">
    <inertial>
      <mass value="0.001"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <box size="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <box size=".001 .001 .001"/>
      </geometry>
    </collision>
  </link>

</robot>